// SPDX-License-Identifier: GPL-2.0-only
/*
 * Copyright (C) 2015 Altera Corporation. All rights reserved.
 * Copyright (C) 2022 Alejandro Soto <alejandro@34project.org>
 */

/dts-v1/;

/ {
	model = "Proyecto Final CE3201";
	compatible = "itcr,ce3201";
	#address-cells = <1>;
	#size-cells = <1>;

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu {
			device_type = "cpu";
			compatible = "arm,arm810";
			clock-frequency = <100000000>;
		};
	};

	memory {
		device_type = "memory";
		reg = <0x0000000 0x20000000>;
	};

	soc {
		device_type = "soc";
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "altr,avalon", "simple-bus";
		bus-frequency = <50000000>;
		interrupt-parent = <&intc>;
		ranges;

		sys_pll {
			compatible = "altr,pll-1.0";
			#clock-cells = <1>;

			pll_cpu: cpu {
				compatible = "fixed-clock";
				#clock-cells = <0>;
				clock-frequency = <100000000>;
				clock-output-names = "sys_pll-cpu";
			};

			pll_bus: bus {
				compatible = "fixed-clock";
				#clock-cells = <0>;
				clock-frequency = <50000000>;
				clock-output-names = "sys_pll-bus";
			};

			pll_pixclk: pixclk {
				compatible = "fixed-clock";
				#clock-cells = <0>;
				clock-frequency = <25175000>;
				clock-output-names = "sys_pll-pixclk";
			};
		};

		ttyJ0: serial@30000000 {
			compatible = "altr,juart-1.0";
			reg = <0x30000000 0x00000008>;
			interrupts = <1>;
		};

		led_pio: gpio@30010000 {
			compatible = "altr,pio-1.0";
			reg = <0x30010000 0x00000010>;
			altr,ngpio = <8>;
			resetvalue = <15>;

			/* Según binding:
			 * - #gpio-cells: Should be 2
			 *   - The first cell is the gpio offset number.
			 *   - The second cell is reserved and is currently unused.
			 */
			#gpio-cells = <2>;
			gpio-controller;
			gpio-bank-name = "led";
		};

		timer@30020000 {
			compatible = "altr,timer-1.0";
			reg = <0x30020000 0x00000020>;
			interrupts = <0>;
			clock-frequency = <50000000>;
		};

		intc: intc@30003000 {
			//TODO
			compatible = "itcr,taller-intc";
			//TODO
			reg = <0x30030000 0x0>;
			interrupt-controller;
			#interrupt-cells = <1>;
		};

		leds {
			compatible = "gpio-leds";

			fpga0 {
				label = "fpga_led0";
				gpios = <&led_pio 0 1>;
			};

			fpga1 {
				label = "fpga_led1";
				gpios = <&led_pio 1 1>;
			};

			fpga2 {
				label = "fpga_led2";
				gpios = <&led_pio 2 1>;
			};

			fpga3 {
				label = "fpga_led3";
				gpios = <&led_pio 3 1>;
			};

			fpga4 {
				label = "fpga_led4";
				gpios = <&led_pio 4 1>;
			};

			fpga5 {
				label = "fpga_led5";
				gpios = <&led_pio 5 1>;
			};

			fpga6 {
				label = "fpga_led6";
				gpios = <&led_pio 6 1>;
			};

			fpga7 {
				label = "fpga_led7";
				gpios = <&led_pio 7 1>;
			};
		};
	};

	chosen {
		//TODO
		//bootargs = "debug earlycon console=ttyJ0";
		stdout-path = &ttyJ0;
	};
};
