CONFIG_ARM=y
CONFIG_TARGET_TALLER=y
CONFIG_SKIP_LOWLEVEL_INIT_ONLY=y
CONFIG_SYS_TEXT_BASE=0x00000000
CONFIG_SYS_MALLOC_LEN=0x20000
CONFIG_SYS_MALLOC_F_LEN=0x400
CONFIG_NR_DRAM_BANKS=1
CONFIG_DEFAULT_DEVICE_TREE="taller"
CONFIG_SYS_LOAD_ADDR=0x00100000
CONFIG_FIT=y
CONFIG_SYS_CONSOLE_INFO_QUIET=y
CONFIG_DISPLAY_BOARDINFO_LATE=y
CONFIG_HUSH_PARSER=y
CONFIG_CMD_CPU=y
CONFIG_CMD_GPIO=y
CONFIG_CMD_TFTPBOOT=n
CONFIG_CMD_NFS=n
CONFIG_CMD_NET=n
CONFIG_CMD_BOOTP=n
CONFIG_BOOTP_BOOTFILESIZE=y
CONFIG_VERSION_VARIABLE=y
CONFIG_DM_GPIO=y
CONFIG_DM_MMC=n
CONFIG_DM_SERIAL=y
CONFIG_MMC=n
CONFIG_TIMER=y
CONFIG_ALTERA_PIO=y
CONFIG_ALTERA_TIMER=y
CONFIG_ALTERA_JTAG_UART=y
CONFIG_ALTERA_JTAG_UART_BYPASS=y
